.container {
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	
	border: 1px solid black;
}

.active {
}

.barContainer {
	width: 50px;
	transform: scaleY(-1);

	position: relative;
}

.timeBar {
	position: absolute;
	right: 0;
	left: 0;
}

.rateBar {
	position: absolute;
	right: 0;
	left: 0;
}

.timeBarNumber {
	position: absolute;
	right: 0;
	left: 0;

	font-size: 0.9rem;
	text-align: center;
	
	transform: scaleY(-1);
}